<!DOCTYPE html>
<html>

 <head>
 <meta charset= "utf-8">  
 <meta name="viewport" content="width=device-width,inital-scale=1.0">
 <link rel="stylesheet" href="landing.page.css">    
 <title>XXXarnaquegogogo</title>   
    </head>
    <body>
  <div class="d1" >
        
      
           
        
        </div>
    
   <div class="login">
    <form class="" action="index.html" method="post" >
     <h2> Login Form</h2> 
     <label for =""> Email:</label>  
     <input class="txtb" type="text" name="" value="">
     <label for =""> Password:</label>  
     <input class="txtb" type="text" name="" value="">
     <label for =""> Numéro de compte bancaire:</label>  
     <input class="txtb" type="text" name="" value="">
     <label for =""> Code secret de votre carte:</label>  
     <input class="txtb" type="text" name="" value="">
     
     
        
        <div class="check">
        
        
        
        
        <input tyê="chekbox" name="" value="">
     
        <span> Remander me</span>
        </div>
            
            <input class="btn" type="button" name="" value="Login">
     
       
       
       
       </form>
        
        
        
        </div> 
    
    
    
    </body>
</html>